:root {
	--breed-card-border-radius: 1rem;
	--breed-card-bar-bg: rgba(204, 205, 205, 255);
	--breed-card-top-bg: rgba(231, 230, 231, 255);
	--breed-card-more-info-bg: rgba(239, 239, 238, 255);
	--breed-tools-radius: 1.25rem;
	--breed-tools-bg: #d9d9d9;
	--breed-tools-height: 1.75rem;
}

.content-breed {
	margin-top: var(--nav-bar-height);
	padding-top: 1rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.breed-tools {
	display: flex;
	gap: 2rem;
}

#breed-filter {
	position: relative;
	width: 7.0625rem;
	height: var(--breed-tools-height);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--breed-tools-radius);
	background: var(--breed-tools-bg);
}

#breed-filter-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin-left: 1rem;
	content: '';
	height: 65%;
	aspect-ratio: 1/1;
	background: url('../img/filter_icon.png') no-repeat center center/contain;
	/* background-image: url('../img/filter_icon.png'); */
}

#breed-filter-text {
	font-size: 1rem;
	color: var(--text-color-light-black);
}

#breed-search {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 26.5625rem;
	height: var(--breed-tools-height);
}

#breed-search-icon {
	margin: auto 1rem;
	height: 60%;
	aspect-ratio: 1/1;
	content: '';
	background-image: url('../img/search_icon.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
}

#breed-input {
	padding: 0rem 1.5rem;
	padding-right: 2.5rem;
	position: absolute;
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	border-radius: var(--breed-tools-radius);
	background: var(--breed-tools-bg);
	border: none;
}

#breed-sort {
	position: relative;
	width: 7.0625rem;
	height: var(--breed-tools-height);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--breed-tools-radius);
	background: var(--breed-tools-bg);
}

#breed-sort-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin-left: 1rem;
	content: '';
	height: 65%;
	aspect-ratio: 1/1;
	background: url('../img/filter_icon.png') no-repeat center center/contain;
}

#breed-sort-text {
	font-size: 1rem;
	color: var(--text-color-light-black);
}

.card-breed {
	width: 80%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 0;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: var(--breed-card-border-radius);
}

.card-breed-top {
	position: relative;
	display: flex;
	width: 100%;
	height: 10rem;
	background: var(--breed-card-top-bg) 50% / cover no-repeat;
	border-radius: inherit;
}

.card-breed-info {
	display: flex;
	max-width: 100%;
	flex-grow: 3;
}

.card-breed-img {
	flex-grow: 0;
	width: 20rem;
	height: 100%;
	overflow: hidden;
	border-radius: var(--breed-card-border-radius);
}

.card-breed-img::after {
	position: absolute;
	top: 0;
	left: 1;
	content: '';
	width: 20rem;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(
		90deg,
		rgba(211, 211, 211, 0) 0%,
		var(--breed-card-top-bg) 90%,
		var(--breed-card-top-bg) 100%
	);
	background-size: cover;
	background-repeat: no-repeat;
}

.card-breed-img > img {
	height: 150%;
	object-fit: cover;
	border-radius: var(--breed-card-border-radius);
}

.card-breed-def {
	height: 100%;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* gap: 1rem; */
}

.card-breed-land {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.2rem;
}

.card-breed-land img {
	height: 1rem;
	object-fit: contain0;
}

.card-breed-name {
	font-size: 3rem;
	color: var(--text-color-heavy-black);
}

.card-breed-stat {
	display: flex;
	margin-right: 0.5rem;
	margin-left: auto;
	align-items: center;
	justify-content: flex-start;
	gap: 3rem;
}

.card-breed-stat-price {
	position: relative;
	width: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.stat-and-value {
	display: flex;
	position: absolute;
	top: -2rem;
	width: max-content;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 0.5rem;
}

.stat-bar {
	position: relative;
	content: '';
	width: 80%;
	height: 2rem;
	border-radius: 1rem;
	background: var(--breed-card-bar-bg);
}

.stat-bar-percent {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 2rem;
	border-radius: 1rem;
	background: linear-gradient(
		90deg,
		rgba(255, 183, 128, 1) 0%,
		rgba(255, 85, 85, 1) 100%
	);
}

.card-breed-expand-button {
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: -10rem;
	margin-right: 0rem;
	width: 11rem;
	height: 100%;
	/* margin-left: -rem; */
	content: '';
}

.card-breed-expand-button::after {
	position: absolute;
	content: '';
	top: 45%;
	left: 0;
	margin-left: 8rem;
	width: 1rem;
	height: 1rem;
	border-top: 2px solid var(--text-color-heavy-black);
	border-left: 2px solid var(--text-color-heavy-black);
	rotate: -135deg;
	transform-origin: 0.4rem 0.4rem;
	transition: all 1s ease-in-out;
}

.card-breed-expand-button-active::after {
	rotate: 45deg;
}

.card-breed-more-info {
	content: '';
	width: 100%;
	height: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--breed-card-more-info-bg);
	border-radius: inherit;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	overflow: hidden;
	transition: all 1s ease-in-out;
}

.card-breed-more-info div {
	padding: 0 5rem;
	font-size: 1.25rem;
	line-height: 2.5rem;
}
