.content-cut {
	display: flex;
	width: 100%;
	margin-top: calc(var(--nav-bar-height) - 1rem);
	height: var(--content-height);
	padding: 0 5rem;
	/* gap: 10%; */
	justify-content: center;
	align-items: center;
}

.cut-selection {
	margin-left: auto;
	margin-right: clamp(1rem, 10%, 10rem);
	display: flex;
	align-items: center;
	height: 40vh;
	overflow: hidden;
}

.cut-selection > svg {
	object-fit: contain;
	height: 100%;
}

.cut-selection > svg > path:hover {
	fill: var(--text-color-orange);
}

.cut-selected-card {
	margin-left: auto;
	margin-right: max(1%, 1rem);
	position: relative;
	display: flex;
	flex-direction: column;
	max-height: 75%;
	aspect-ratio: 30/42;
	width: max(20rem, 30vw);
	border-radius: 0.1875rem;
	background: #fff;
	box-shadow: 4px 4px 30px 2px rgba(0, 0, 0, 0.25);
}

.cut-selected-card-backdrop {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.cut-selected-card-backdrop > img:nth-child(1) {
	position: absolute;
	top: -3rem;
	right: -5rem;
	width: 20rem;
	transform: rotate(225deg);
}

.cut-selected-card-backdrop > img:nth-child(2) {
	position: absolute;
	bottom: 0.5rem;
	left: -8rem;
	width: 20rem;
	transform: rotate(110deg) scaleX(-1);
}

.cut-selected-card-img {
	width: 100%;
	height: 30%;
}

.cut-selected-card-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cut-selected-info {
	padding: 0 max(10%, 1rem);
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	display: flex;
	width: 100%;
	max-height: 100%;
	flex-grow: 1;
	flex-direction: column;
	overflow: hidden;
	gap: 1rem;
}

.cut-selected-header {
	font-size: 2.25rem;
	color: var(--text-color-orange);
}

.cut-selected-stats {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.cut-stat-price {
	display: flex;
	align-items: center;
}

.cut-stat-and-value {
	display: flex;
	width: max-content;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
}

.cut-stat-bar {
	margin-left: auto;
	position: relative;
	content: '';
	width: clamp(3rem, 30%, 100%);
	height: 1rem;
	border-radius: 1rem;
	background: var(--breed-card-bar-bg);
}

.stat-bar-percent {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background: linear-gradient(
		90deg,
		rgba(255, 183, 128, 1) 0%,
		rgba(255, 85, 85, 1) 100%
	);
}

.cut-selected-text {
	flex: 1;
	overflow-y: auto;
	display: flex;
	max-height: 100%;
	font-size: 100%;

	color: var(--text-color-heavy-black);
}

::-webkit-scrollbar {
	width: 2px;
	background-color: #000000;
	border: 2px solid #555555;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: white;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
	border: 2px solid #555555;
	border-radius: 10px;
}

@media (max-width: 600px) {
	.cut-stat-and-value {
		gap: 0.2rem;
		font-size: 0.75rem;
	}
	.cut-stat-bar {
		width: 3rem;
	}
}
