#nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: var(--nav-bar-height);
	padding-left: 7%;
	padding-right: 10%;
	padding-top: 0.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: white; */
	z-index: 1;
}

#nav-bar-link {
	margin-left: auto;
	display: flex;
	gap: 2%;
}

#nav-bar > img {
	margin-top: 1%;
	margin-left: 4%;
	height: 50%;
	object-fit: contain;
}

#nav-bar-link > button {
	font-size: var(--nav-font-size);
	text-decoration: none;
	padding: 1em 1em;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--text-color-heavy-black);
}

#nav-bar #nav-bar-pan-left {
	content: '';
	position: fixed;
	left: 0rem;
	top: 25vh;
	width: 10rem;
	height: 50vh;
}

#nav-bar #nav-bar-pan-left::after {
	position: fixed;
	left: -5rem;
	top: 50vh;
	width: 2rem;
	height: 2rem;
	border-top: 2px solid var(--text-color-light-black);
	border-left: 2px solid var(--text-color-light-black);
	content: '';
	rotate: -45deg;
	transition: 250ms ease-in;
}

#nav-bar #nav-bar-pan-left:hover::after {
	left: 5rem;
}

#nav-bar #nav-bar-pan-right {
	content: '';
	position: fixed;
	right: 0rem;
	top: 25vh;
	width: 10rem;
	height: 50vh;
}

#nav-bar #nav-bar-pan-right::after {
	position: fixed;
	right: -5rem;
	top: 50vh;
	width: 2rem;
	height: 2rem;
	border-top: 2px solid var(--text-color-light-black);
	border-left: 2px solid var(--text-color-light-black);
	content: '';
	rotate: 135deg;
	transition: 250ms ease-in;
}

#nav-bar #nav-bar-pan-right:hover::after {
	right: 5rem;
}
